.App {
  text-align: center;
}


.header {
  margin: 60px;
}

.header-title {
  font-size: 70px;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.card-body {
  text-align: left;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}